# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Virtual Environment
.env
.venv
env/
venv/
venv_new/
ENV/
env.bak/
venv.bak/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Amplify
.amplify
amplify_outputs*
amplifyconfiguration*

# Static files
staticfiles/

# OS
.DS_Store
Thumbs.db
